{% extends 'photos/base/base.html' %}

{% block main %}

<div class="container pb-5 pt-5">

    <div class="jumbotron mt-5 mb-5" style="background-color: #fdfdfd">
        <h4 class="text-center mx-auto mb-3">
            <i id="icone-logo" class="fas fa-images"></i>
            <span>Photo Slideshow</span>
        </h4>

        <h1 class="display-4">Permissão</h1>
        <hr class="my-4">
        <p class="lead">
            Clique no botão abaixo e entre com uma conta do <strong>Google Photos</strong>.<br>
            Você deve permitir o acesso à suas fotos para criar slideshows com suas imagens
        </p>
        
        <div class="text-center mx-auto">
            <a href="{% url 'usuario:auth_photos' %}" class="btn btn-primary mt-3"  role="button" >
                Logar no Google Photos
            </a>
        </div>
    </div>
</div>

{% endblock %}