{% extends "../photos/base/base.html" %}


{% block main %}
<div class="container pb-3">

  <h2 class="mt-sm-5 mt-3 titulo-pagina">
    <i class="fas fa-user-plus"></i>
    Cadastrar Usuário
  </h2>

  <div class="card mt-sm-5 mt-3 w-100" style="max-width: 700px;width: 18rem;";">
    <form method="post">
      {% csrf_token %}

      <div class="card-body m-sm-5 m-3 mx-auto">

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="first_name" id="nome" placeholder="Nome">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome</label>
          <input type="text" class="form-control" name="last_name" id="sobrenome" placeholder="Sobrenome">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <small class="form-text text-danger">{{ form.email.errors }}</small>
          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <small class="form-text text-danger">{{ form.username.errors }}</small>
          <input type="text" class="form-control" name="username" id="usuario" aria-describedby="usernameHelp"
            placeholder="Nome de Usuário">
          <small id="usernameHelp" class="form-text text-muted">
            O nome de usuário é único e será necessário para acessar a sua conta.
          </small>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <small class="form-text text-danger">{{ form.password.errors }}</small>
          <input type="password" name="password" class="form-control" id="password" placeholder="Senha">
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary w-25" style="min-width: 110px;">Cadastrar</butt>
        </div>
      </div>
    </form>
  </div>

</div>
{% endblock %}