#html, body{
    height: 100%;
}

#icone-logo{
    color: #303F9F;
}

#icone-logo+span{
    color: #03A9F4;
}

#navbar, #footer{
    background-color: #E8EAF6;
}

.titulo-pagina{
    color: #0288D1;
}

i.fa-external-link-alt{
    color: #dddddd;
}

i.fa-play,
i.fa-external-link-alt{
    font-size: .8rem;
}


.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}