{% extends 'photos/base/base.html' %}

{% block main %}

<div class="container pb-5">
    <nav aria-label="breadcrumb mb-5" class="mt-3">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item">
                <a href="{% url 'photos:index' %}">Álbuns</a>
            </li>
        </ol>
    </nav>

    <div class="jumbotron mt-5 mb-5" style="background-color: #fdfdfd">
        <h4 class="text-center mx-auto">
            <i id="icone-logo" class="fas fa-images"></i>
            <span>Photo Slideshow</span>
        </h4>

        <h1 class="display-4">404</h1>
        <hr class="my-4">
        <p class="lead">
            {% if exception == 'Resolver404' %}
            Página não encontrada.
            {% else %}
            {{exception}}
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}