<div class="nav bg-light">
    <div class="container">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="http://github.com/guilhermedomith" class="nav-link" target="_blank" style="font-size: 1.5rem">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="http://www.linkedin.com/in/guilhermedomith/" class="nav-link" target="_blank" style="font-size: 1.5rem">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>

        <p class="text-center"> Criado por Guilherme Domith </p>
        <p class="text-center" style="font-size: .7rem">
            Photo Slideshow - Crie slideshows a partir do seu Google Photos<br>
            © Copyright All Rights Reserved 2018
        </p>
        </p>
    </div>
</div>