{% extends 'photos/base/base.html' %}

{% block main %}

<div class="container">
    <p class="text-justify mt-1">
        <span class="font-weight-bold">Álbuns</span>
        <span class="font-weight-bold"> > </span>
        <span class="font-weight-normal">Seleção</span>
        <span class="font-weight-bold"> > </span>
        <span class="font-weight-normal">Configuração</span>
        <span class="font-weight-bold"> > </span>
    </p>

    <h2 class="mt-sm-5 mt-3">Meus Álbuns</h2>
    <p class="text-justify">
        Selecione um álbum para configurar o seu slideshow.
    </p>

    <div class="mt-sm-5 mt-3">
        {% for album in albuns%}
        <div class="card mb-3">

            <h5 class="card-header">{{album.title}}</h5>

            <div class="card-body">
                <div class="container">
                    <div class="row">

                        <div class="col-9">
                            <p class="card-text font-weight-bold">{{album.mediaItemsCount}}
                                foto{{album.mediaItemsCount|pluralize}}</p>
                            <a class="btn btn-primary" href="{% url 'photos:selecao' forloop.counter %}">CRIAR
                                SLIDESHOW</a>
                            <a class="btn btn-secondary" href="{{ album.productUrl }}">GOOGLE PHOTOS</a>
                        </div>

                        <div class="col-3 text-center">
                            <img src="{{album.coverPhotoBaseUrl}}" class="w-75 rounded" alt="...">
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}